.container {
    max-width: 750px;
    height: auto;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid black;
    text-shadow: 2px 2px black;
}
td {
    padding: 10px;
}
img {
    border-radius: 10px;
}
.product {
    text-align: center;
    text-shadow: 2px 2px black;
}
 .details {
    padding:  10px;
    background-color: #FFd7b5;
    border-radius: 10px;
    text-shadow: 2px 2px black;
}
table {
    min-width: 300px;
    width: 100%;
    text-shadow: 2px 2px black;
}
.spinner {
    margin: 0 auto;
    text-align: center;
}
.mat-progress-spinner.mat-progress-spinner-indeterminate-animation[mode=indeterminate] {
  
    margin: 0 auto;
  }

  .status {
      background-color: green;
      padding: 8px;
      border-radius: 18px;
  }
  span.image {
      /* border : 1px solid black; */
      border-radius: 10px;
  }
  .avail {
    padding: 8px 10px; 
    border-radius: 20px; 
    display: inline-block; 
  }

 